# Ignore for top level directory #
# Intellij Idea Files #
.idea/*
target/*


# Ignore for Sub Project level directory #
# Intellij Idea Files #
lib/old*
*chrome_debug.log




# Full Wild Card Entries #
# Idea files #
*dependency-reduced-pom.xml
# Package Files #
*.class
*.iml
*.jar
*.war
*.ear
# Linux Files #
*/.mtj.tmp/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml #
*hs_err_pid*
*.DS_Store
*/__pycache__*
